/* css for menu */

@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");

body {
    font-family: 'Prompt', sans-serif;
    background: url("../images/background.jpg") no-repeat;
    background-size: 130em;
    
}

.bg-black {
    background-color: #063324;
}

.nav-link.active, .nav-link:hover{
    color: #ffffff !important;
}

.navbar-brand {
    height: 50px;
    width: 220px;
    font-size: 220%;
    }


.container-fluid {
    background-color: #063324;
    color: #ffff;
    text-align: center;
    margin-top: 65px;
    height: 175px;
}

.container-fluid h2 {
    padding-top: 20px;
}

.container-fluid h5 {
    padding-top: 40px;
}
   
.moves-header {
    font-size: 30px;
}

.moves {
    font-size: 30px;

}




@media screen and (max-width: 992px) {
    
    body {
        
    background-size: 130em;
        
    }
    
    
    
    .container-fluid {
        
        height: 210px;
      
      
    }

    .container-fluid h5 {
        padding-top: 30px;
    }

  
    
}


@media screen and (max-width: 695px) {
    
    
    .container-fluid {
        height: 250px;
        width: 695px;
        text-align: left;
      
        
    }

    .navbar-brand {
        font-size: 160%;
        } 

        
        .container-fluid h2{
        font-size: 20px;
        padding-top: 10px;
        }

        .container-fluid h5 {
            padding-top: 10px;
        }

    }